# CodeIgniter 4 .gitignore
.env
.phpunit.result.cache

/writable/cache/*
!/writable/cache/index.html
!/writable/cache/.gitkeep

/writable/debugbar/*
!/writable/debugbar/index.html
!/writable/debugbar/.gitkeep

/writable/logs/*
!/writable/logs/index.html
!/writable/logs/.gitkeep

/writable/session/*
!/writable/session/index.html
!/writable/session/.gitkeep

/writable/uploads/*
!/writable/uploads/index.html
!/writable/uploads/.gitkeep

/writable/*.db
/writable/*.sqlite
/writable/*.sqlite3

# Composer
/vendor/

# Scratch files
scratch/
